{{! Maintainers - Daryl Hedley}}
<div class="component-inner componentName-inner">
    {{#if title}}
    <div class="component-title componentName-title">
        <h4 class="component-title-inner componentName-title-inner">
            {{{title}}}
        </h4>
    </div>
    {{/if}}
    {{#if body}}
    <div class="component-body componentName-body">
        <div class="component-body-inner componentName-body-inner">
            {{{body}}}
        </div>
    </div>
    {{/if}}
    <div class="component-widget componentName-widget">
    </div>
</div>